body {
    font-family: 'HackFont';
    background-color: #F5F5F0;
    color: rgb(0, 0, 0);
}

html {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-family: 'HackBold';
}

.menuButton {
    font-size: 18;
    font-family: 'ButtonFont';
}

.bottomBorder {
    border-bottom: 0px solid black;
}

@font-face {
    font-family: 'MainSite';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ButtonFont';
    src: url('fonts/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HackFont';
    src: url('fonts/Hack-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'HackBold';
    src: url('fonts/Hack-Bold.ttf') format('truetype');
}